---
import '../styles/global.css';
import '@fontsource-variable/open-sans';
// Supports weights 100-900
import '@fontsource-variable/raleway';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>Oscar Gutiérrez</title>
	</head>
	<body>
		<h1>Oscar Gutiérrez</h1>
	</body>
</html>
